{{ define "header" }} {{ partial "topnav" }} {{ end }} {{ define "main" }}
<main class="prose dark:prose-invert container">
  <header class="text-center mb-8 mt-20">
    <h1 class="text-5xl mb-1"><span class="gradient-text">Lessons</span>🧘</h1>
    <p class="my-0 text-white">Come Fly The Friendly Frontend...</p>
  </header>

  <ul class="grid-list justify-items-center pl-0">
    {{ $paginator := .Paginate (where .Pages "Type" "lessons") 20 }} {{ range
    $paginator.Pages }}

    <li class="list-none p-0">{{ partial "card" (dict "context" .) }}</li>
    {{ end }}
  </ul>

  {{ template "_internal/pagination.html" . }}
</main>
{{ end }} {{ define "footer" }} {{ partial "footer" }} {{ end }}
