{{ define "header" }} {{ partial "topnav" }} {{ end }} {{ define "main" }}
<main class="prose dark:prose-invert container">
  <header class="text-center mb-8 mt-20">
    <h1 class="text-5xl mb-1 gradient-text">Tags</h1>
    <p class="my-0 text-white">Tags help you find your lessons</p>
  </header>

  {{ range .Pages }}
  <span class="inline-block p-2">
    <a href="{{.Permalink | relURL }}"
      ><span class="tag tag-{{anchorize .Title}} tag-lg"
        >#{{ anchorize .Title}}</span
      ></a
    >
  </span>

  {{ end }}
</main>
{{ end }} {{ define "footer" }} {{ partial "footer" }} {{ end }}
