<nav class="flex justify-between container p-6 md:p-8">
  <a class="flex justify-center items-center text-center w-16 h-16" href="/">
    <img id="logo" src="/img/logo.png" alt="logo" />
  </a>

  <ul class="flex justify-center items-center">
    <li class="mx-2 md:mx-4 hover:scale-105 transition-transform">
      <a
        href="/lessons"
        class="font-sans text-xl font-bold leading-none text-gray2 hover:text-white"
        >Lessons</a
      >
    </li>
    <li class="mx-2 md:mx-4 hover:scale-105 transition-transform">
      <a
        href="/tags"
        class="font-sans text-xl font-bold leading-none text-gray2 hover:text-white"
        >Tags</a
      >
    </li>
  </ul>
</nav>
