{{ define "header" }} {{ partial "topnav" }} {{ end }} {{ define "main"}}
<main class="prose dark:prose-invert min-w-full text-center">
  <h1 class="text-5xl mt-12 gradient-text">404 Not Found</h1>

  <!-- <div
    class="mx-auto w-24 h-1 my-12 bg-gradient-to-r from-teal-500 to-teal-500 rounded-full"
  ></div> -->
  <p>Oops! Broken Link</p>
  <!-- <img class="mx-auto" src="/img/logo4.png" alt="logo" /> -->
  <a class="btn" href="/">Go Back?</a>
</main>

{{ end }} {{ define "footer" }} {{ partial "footer" }} {{ end }}
